@import "responsive";
@import "animaciones";
@import "estructura";

$gris: rgb(211, 211, 211);

body{
   background-color: rgba(255, 255, 255, 0.219);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.item p{
    font-weight: bold;
    text-transform: uppercase;
    background-color: gray;
    border: 1px black solid;
    border-radius: 4px;
    text-align: center;
    font-size: 1.5rem;
}


nav{
    
    grid-area: nav;
    background-color: $gris;
}
// MIXIN //
@mixin tamanio ($anchor, $altor, $fondo) {
    width: $anchor;
    height: $altor;
    background-color: $gris;
}

.sectionA{
    @include tamanio(600px,auto,$gris);
    grid-template-areas: sectionA;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sectionB{
    @include tamanio(600px,auto,$gris);
    grid-template-areas: sectionB;
    margin: 0 auto;
    display: flex;
    justify-content: start;
}

aside{
    grid-template-areas: aside;
    background-color: lightpink;
    grid-area: aside;
}

/*Extend*/
footer{
    grid-area: footer;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
}

.grupo2{
    @extend footer;
    background-color: black;
    color: aliceblue;
}



.agenda{
    background-color: $gris;
}

.areas{
    background-color: $gris;
}
 
.quienes_somos{
    background-color: $gris;
}

.preguntas{
    background-color: $gris;
}



 